extends layout

block content
  h1 Best Snowboarding Trick
  
  
  h2=video0.name
    p
      iframe(width="560" height="315" src="//www.youtube.com/embed/#{video0.id}" frameborder="0" allowfullscreen)
    p=video0.title
    p=video0.description 
    
  h2=video1.name
    p
      iframe(width="560" height="315" src="//www.youtube.com/embed/#{video1.id}" frameborder="0" allowfullscreen)
    p=video1.title
    p=video1.description 

  a(href="/submission/#{pageNum}").
    Next